html {
    width: 100%;
    height: 100%;

    --main-text-color: #ffff20;
    --icon-size: 32px;
    --icon-space: 12px;
    --control-margin: 4px;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 9pt;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    cursor: none;
    user-select: none;
}

#canvases {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

canvas#bar2 {
    margin: 0;
    width: 100%;
    height: 30%; /* Note we override it in JS */
    display: block;
}

canvas#roll2 {
    margin: 0;
    width: 100%;
    height: 70%; /* Note we override it in JS */
    display: block;
}

#bottom_mask {
    position: fixed;
    width: 100%;
    height: 40px;
    background: black;
    left: 0px;
    bottom: 0px;
    opacity: 90%;
    box-shadow: 0pt 0pt 5pt 5pt black;
}

#bottom_mask_opaque {
    position: fixed;
    width: 100%;
    height: 40px;
    background: black;
    left: 0px;
    bottom: 0px;
    opacity: 100%;
    display: none;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: calc(100% - var(--control-margin)*2);
    margin: var(--control-margin);
}
#controls_left {
    display: inline-block;
    height: var(--icon-size);
}
#controls_middle {
    display: inline-block;
    height: var(--icon-size);
}
#controls_right {
    display: inline-block;
    height: var(--icon-size);
}
#control_position {
    display: inline-grid; /* Use grid to overlap the children */
    height: var(--icon-size);
    flex-grow: 1;
    padding: 0pt 8pt 0pt 8pt;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}


.button {
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    display: inline-block;
}

.button:hover {
    filter: brightness(4);
}

.button:active {
    filter: brightness(4) drop-shadow(0px 0px 4px yellow);
}

.button-disabled {
    pointer-events: none;
    filter: grayscale(100%) brightness(60%)
}

.button-activated {
    filter: brightness(4);
}

.button-activated-unclickable {
    filter: brightness(4);
    pointer-events: none;
}

#top {
    background-image: url("res/top.png");
}
#rewind {
    background-image: url("res/rewind.png");
}
#play {
    background-image: url("res/play.png");
}
#pause {
    background-image: url("res/pause.png");
}
#stop {
    background-image: url("res/stop.png");
}
#ff {
    background-image: url("res/ff.png");
}
#record {
    background-image: url("res/record.png");
}
#up {
    background-image: url("res/up.png");
    margin-left: var(--icon-space);
}
#down {
    background-image: url("res/down.png");
    margin-right: 12px;
}

#fullscreen {
    background-image: url("res/fullscreen.png");
}
#video-mute {
    background-image: url("res/video-mute.png");
}
#freeze {
    background-image: url("res/freeze.png");
}
#source {
    background-image: url("res/source.png");
    margin-right: 12px;
}

#timestamp {
    display: inline-block;
    font-size: 14pt;
    padding-top: 4pt;
    width: 4em;
    text-align: center;
    color: white;
    font-weight: 400;
}

#position_bar {
    background-image: url("res/h-bar.png");
    background-size: var(--icon-size);
    background-repeat: repeat-x;
    height: 100%;
    filter: brightness(0.6);
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-left: calc(var(--icon-size) / 2);
    margin-right: calc(var(--icon-size) / 2);
    width: calc(100% - var(--icon-size));
    z-index: 0;
}

#position_outer {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 1;
    margin-right: calc(var(--icon-size));

    pointer-events: none; /* Allow position_bar to receive mousedowns  */
}

#position {
    position: relative;
    left: 0%;
    background-image: url("res/position.png");
    background-size: var(--icon-size);

    pointer-events: auto; /* Cancel parent's 'none' */
}

#fps {
    position: fixed;
    left: 2px;
    top: 2px;
    display: none;
}

#status {
    position: fixed;
    right: 2px;
    top: 2px;
    display: none;
    font-size: 12pt;
    font-weight: bold;
}

/* Style for the note display span */
#note_display {
    position: fixed;
    right: 10px;
    bottom: 45px; /* Position it above the bottom controls */
    font-size: 14pt;
    color: var(--main-text-color);
    text-shadow: 1px 1px 2px black;
    font-family: 'Courier New', Courier, monospace;
}

.popbox_container {
    color: #202020;
}

#save_as_filename {
    width: 20em;
}

#confirm_box {
}

#confirm_text {
    margin: 0px 0px 8px 0px;
    font-size: 12pt;
}

/* unvisited link */
a:link {
    color: var(--main-text-color);
}

/* visited link */
a:visited {
    color: var(--main-text-color);
}

/* mouse over link */
a:hover {
    color: var(--main-text-color);
}

/* selected link */
a:active {
    color: var(--main-text-color);
}


element.style {
    top: 242.195px;
    left: 143.678px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #d3d3d3;
}
body .ui-tooltip {
    border-width: 2px;
}

.ui-widget-shadow {
    /* Remove the shadow from the tooptip */
    box-shadow: none;
    -webkit-box-shadow: none;
}
