:root {
    --icon-size: 32px;
}
html {
    width: 100%;
    height: 100%;

    --main-text-color: #ffff20;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 9pt;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    cursor: none;
}

#canvases {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

canvas#bar2 {
    margin: 0;
    width: 100%;
    height: 30%; /* Note we override it in JS */
    display: block;
}

canvas#roll2 {
    margin: 0;
    width: 100%;
    height: 70%; /* Note we override it in JS */
    display: block;
}

#buttons {
    position: fixed;
    top: 8px;
    left: 8px;
}

.button {
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    display: inline-block;
}

.button:hover {
    filter: brightness(4);
}

.button:active {
    filter: brightness(4) drop-shadow(0px 0px 4px yellow);
}

.button-disabled {
    pointer-events: none;
    filter: grayscale(100%)
}

.button-always-disabled {
    pointer-events: none;
}

#top {
    background-image: url("res/top.png");
}
#rewind {
    background-image: url("res/rewind.png");
}
#play {
    background-image: url("res/play.png");
}
#play-i {
    background-image: url("res/play-i.png");
}
#pause {
    background-image: url("res/pause.png");
}
#stop {
    background-image: url("res/stop.png");
}
#ff {
    background-image: url("res/ff.png");
}
#record {
    background-image: url("res/record.png");
}
#record-i {
    background-image: url("res/record-i.png");
}
#up {
    background-image: url("res/up.png");
}
#down {
    background-image: url("res/down.png");
}

#fps {
    position: fixed;
    left: 2px;
    top: 2px;
    display: none;
}

#link {
    position: fixed;
    right: 2px;
    bottom: 2px;
    display: none;
}

#fullscreen {
    position: fixed;
    left: 2px;
    bottom: 2px;
    display: none;
}

#status {
    position: fixed;
    right: 2px;
    top: 2px;
    display: none;
    font-size: 12pt;
    font-weight: bold;
}

.popbox_container {
    color: #202020;
}

#save_as_filename {
    width: 20em;
}

/* unvisited link */
a:link {
    color: var(--main-text-color);
}

/* visited link */
a:visited {
    color: var(--main-text-color);
}

/* mouse over link */
a:hover {
    color: var(--main-text-color);
}

/* selected link */
a:active {
    color: var(--main-text-color);
}
